<mat-tab-group animationDuration="0ms">
  <mat-tab label="Upcoming Campaigns">
    <app-manage-campaign-table
      [campaignData$]="upcoming"
      (dateChange)="dateChange($event)"
    ></app-manage-campaign-table>
  </mat-tab>
  <mat-tab label="Live Campaigns">
    <app-manage-campaign-table
      [campaignData$]="live"
      (dateChange)="dateChange($event)"
    ></app-manage-campaign-table>
  </mat-tab>
  <mat-tab label="Past Campaigns">
    <app-manage-campaign-table
      [campaignData$]="past"
      (dateChange)="dateChange($event)"
    ></app-manage-campaign-table>
  </mat-tab>
</mat-tab-group>
