.mat-dialog-content {
  overflow-y: hidden !important;
}

.header {
  display: flex;
  padding: 10px 0;
  align-items: flex-end;

  .imgStyle {
    width: 150px;
  }

  .detail {
    padding-left: 20px;
  }
  .alignRegion {
    margin-bottom: 10px;
  }
}

.list {
  div {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  button {
    border: 2px solid black;
    border-radius: 0;
  }
}

.fontStyle {
  font-weight: 700;
}
